{% extends "turnier/turnier_details.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}Spiel Eintragen{% endblock %}
{% block turnier_anlage %}
<!-- Using Bootstrap classes for styling here -->
<div class="jumbotron">
    <div class="container">
        <h4>Spiel Eintragen</h4>
        <form method="POST" action="{{ url_for('spiele.spiele_eintragen', turnier_id=turnier.id, gruppe_id=gruppe_id, spiele_id=spiel.id) }}">
            {{ spiel_form.hidden_tag() }}
            <div class="row mb-3">
                <div class="col-6">
                    <div class="form-group d-flex align-items-center">
                        <label for="toreT1" class="me-3 mb-0">Team 1: </label>
                        <p class="mb-0 me-3">{{ spiel.team1Name }}  </p>
                        <div class="flex-grow-1">
                            {{ spiel_form.toreT1(class="form-control form-control-sm w-auto d-inline ms-3") }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group d-flex align-items-center">
                        <label for="toreT2" class="me-3 mb-0">Team 2: </label>
                        <p class="mb-0 me-3">{{ spiel.team2Name }}  </p>
                        <div class="flex-grow-1">
                            {{ spiel_form.toreT2(class="form-control form-control-sm w-auto d-inline ms-3") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ spiel_form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
